extends layout


block append scripts
  script(src='/scripts/dropdown.js')
  script(src='/scripts/homescript.js')

block append styles
  link(rel='stylesheet', href='/stylesheets/edit.css')

block content
  form(action='/users/edit' method='POST')
    p
      label(for='f_name') First Name:
      input(type='text' id='f_name' class='signintext' placeholder=user.first_name) 
    p
      label(for='l_name') Last Name:
      input(type='text' id='l_name' class='signintext' placeholder=user.last_name)
    p
      label(for='username') Username: 
      input(type='text' id='username' class='signintext' placeholder=user.user_name)
    p
      label(for='password') Password: 
      input(type='password' id='password' class='signintext')
    p
      label(for='confirm') Confirm Password:
      input(type='password' id='confirm' class='signintext')
    p
      label(for='email') Email:
      input(type='text' id='email', class='signintext' placeholder=user.email)
    .signinButton
      input(type='submit' value='Save Changes')

  .err
    p #{err}