extends layout

block append scripts
  script(src='/scripts/calendar.js')
  script(src='/scripts/dropdown.js')
  script(src='/scripts/homescript.js')
  //script(src='/scripts/weather.js')

block content
  p 7 Day Forcast and Predicted Mood
  
  .weekContainer
            
  .current
    h1(id="currentTemp")
    .currentWeather
      -let source = `http://openweathermap.org/img/w/${weather.icon[0]}.png`
      img(id="documentIconElement", src=source)
    .moodsModule
      h1=mood
      p Your mood
  .calendarContainer
    .calendar
      p Loading...
    .calendarKey
      - let colors=['red', 'orange', 'yellow', 'greenyellow', 'forestgreen']
      - let label=['-61% to -100%', '-31% to -60%', '-30% to 30%', '31% to 60%', '61% to 100%']
      - let i = 0
      while i < 5
        .calendarKeyItem
          <div class="calendarKeyColor" style="background-color: #{colors[i]}"></div>
          p #{label[i]}
        - i++
