extends layout

block append scripts
  script(src='/scripts/calendar.js')
  script(src='/scripts/homescript.js')
  //script(src='/scripts/weather.js')

block content
  h2(style="text-align: center;") 7 Day Forcast and Predicted Mood
  .weekContainer
    -let expectedMood = String(weather.avg)
    p(id="expectedMood")=expectedMood
    while i < 8
      .weekItem
        h1
        .weekItemContent
          
          img(src=source)
          p=weather.desc[i]
          h2=temp
          
          
      
  .current
    .currentTemp
      -let temp = String(weather.temp[0]) + '\u00B0'
      h1(id="currentTemp")=temp
      p Current Temperature
    .currentWeather
      -let currSource = `http://openweathermap.org/img/w/${weather.icon[0]}.png`
      img(id="documentIconElement", src=currSource)
      p=weather.desc[0]
    .moodsModule
      h1=mood
      p Your mood

