extends layout

block append scripts
  script(src='/scripts/calendar.js')
  script(src='/scripts/homescript.js')
  //script(src='/scripts/weather.js')

block content
  h2(style="text-align: center;") 7 Day Forcast and Predicted Mood
  .weekContainer
    -let expectedMood = String(weather.avg)
    p(id="expectedMood")=expectedMood
    while i < 8
      .weekItem
        h1
        .weekItemContent
          
          img(src=source)
          p=weather.desc[i]
          h2=temp
          
          
      
  .current
    .currentTemp
      -let temp = String(weather.temp[0]) + '\u00B0'
      h1(id="currentTemp")=temp
      p Current Temperature
    .currentWeather
      -let source = `http://openweathermap.org/img/w/${weather.icon[0]}.png`
      img(id="documentIconElement", src=source)
      p=weather.desc[0]
    .moodsModule
      h1=mood
      p Your mood
  .calendarContainer
    .calendar
      p Loading...
    .calendarKey
      - let colors=['red', 'orange', 'yellow', 'greenyellow', 'forestgreen']
      - let label=['-61% to -100%', '-31% to -60%', '-30% to 30%', '31% to 60%', '61% to 100%']
      - let j = 0
      while j < 5
        .calendarKeyItem
          <div class="calendarKeyColor" style="background-color: #{colors[j]}"></div>
          p #{label[j]}
        - j++
